.card {
  width: 24rem;
  height: 28rem;
}
.card-img-top{
  height: 24rem;
}
.slick-arrow{
  background-color: black;
}
.slick-prev {
  left: 1% !important;
  z-index: 1;
}
.slick-next {
  right: 1% !important;
  z-index: 1;
}