
.card-img-top{
  height: 24rem;
}
.react-multi-carousel-list{
  margin-top: 1rem;
  padding-bottom: 2rem;
} 
.bookShelfBookDisplay{
  margin: 0 2rem;
}
.react-multi-carousel-dot-list{
  z-index: 1;
  bottom: 0%;
}
